<ion-header>
    <ion-navbar>
      <ion-title>Categories</ion-title>
        <ion-buttons end>
          <button (click)="optionAdd()">
            <ion-icon >Add new</ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
  <h1>Liste</h1>
  <ion-list>
    <button ion-item *ngFor="let cat of categories" (click)="details($event, cat)">
      <ion-icon ></ion-icon>
      {{cat.categorie}}
    </button>
  </ion-list>
  
  <div *ngIf="OptionAdd" padding>
    <input [(ngModel)]="categorie" />    <br>  <br> 
    <button ion-button [round]= true (click)="add()" >
      <ion-icon name="star" >add</ion-icon>
    </button>
  </div>
    


</ion-content>

